body {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    color: #161616;
    font-family: 'Cousine';
    height: 100%;
    width: 100%;
}

html,
body {
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat';
    letter-spacing: 3px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    transition: all 0.2s;
    font-family: "Montserrat", sans-serif;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.section-padding {
    padding: 60px 0px;
}

.section-title {
    background: #07CB79;
    color: #fff;
    padding: 50px;
    position: relative;
    padding-top: 30px;
    margin-bottom: 50px;
    border: 1px solid rgba(238, 238, 238, 0.65);
    box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
}

.section-title h2 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Cousine';
}

.section-title h2:before {
    position: absolute;
    content: "";
    top: 65%;
    left: 50%;
    width: 24px;
    margin-left: -12px;
    height: 2px;
    background: #fff;
}


/*
* ----------------------------------------------------------------------------------------
* 02.HEADER AREA CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.header-area {
    /*background: url(../images/bg.jpg) no-repeat scroll 0 0 / cover;*/
	background-color: #FFF;
    background-size: cover;
    position: relative;
    height: 100%;
    background-position: center center;
}

.header-area:before {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    content: "";
}

.header-area-table {
    display: table;
    width: 100%;
    height: 100%;
}

.header-area-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.header-text {
    color: #fff;
}

.header-text h1 {
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    margin-bottom: 20px;
}

.cd-headline span {
    font-size: 18px;
}

.cd-headline.clip.is-full-width {
    margin: 0;
}

.cd-headline.clip.is-full-width span {
    margin: 0;
}

.cd-headline.clip b {
    opacity: 0;
    filter: alpha(opacity=0);
    font-weight: 300;
}

.social-link {
    margin-top: 20px;
}

.header-text h3 {
    margin: 10px 0px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 10px;
}

.social-link {}

.social-link a {
    height: 40px;
    width: 40px;
    text-align: center;
    color: #fff;
    background: #07CB79;
    line-height: 45px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
}

.social-link a i {
    font-size: 20px;
}
